<ul class="nav">
    <li class="nav-item float-start">
      <img src={{ url_for('static', filename='images/icon.png') }} class="" alt="...">
    </li>
    <li>
      <a class="nav-link active" aria-current="page" href="#">MakeIt</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">POST</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">SERVICES</a>
    </li>
    <div class="d-flex justify-content-end">
        <a class="nav-link" href="#">About</a>
    </div>
  </ul>